<%- include('layout/header') %>
  <h2 class="card-title">Edit Mata Kuliah</h2>
  <% if (maxsks) { %>
    <div class="bg-red-500 text-white p-3 rounded mb-4 mt-4">
      <p><%= maxsks %></p>
    </div>
    <% } %>
  <form method="post" action="/admin/edit-matkul/<%= subject.id %>">
    <div class="form-control">
      <label class="label">
        <span class="label-text">Kode Mata Kuliah</span>
      </label>
      <input type="text" placeholder="Kode Mata Kuliah" class="input input-bordered" name="id" value="<%= subject.id %>" readonly/>
    
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Nama Mata Kuliah</span>
      </label>
      <input type="text" placeholder="Nama Mata Kuliah" class="input input-bordered" name="name" value="<%= subject.name %>" />
      <% if (error) { %>
        <% error.forEach(er => { %>
          <% if (er.path === 'name') { %>
            <span class="text-red-500"><%= er.msg %></span>
          <% } %>
        <% }); %>
      <% } %>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Kredit</span>
      </label>
      <input type="number" placeholder="Jumlah Kredit" class="input input-bordered" name="credit" value="<%= subject.credit %>" />
      <% if (error) { %>
        <% error.forEach(er => { %>
          <% if (er.path === 'credit') { %>
            <span class="text-red-500"><%= er.msg %></span>
          <% } %>
        <% }); %>
      <% } %>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Semester</span>
      </label>
      <input type="number" placeholder="Semester" class="input input-bordered" name="semester" value="<%= subject.semester %>" />
      <% if (error) { %>
        <% error.forEach(er => { %>
          <% if (er.path === 'semester') { %>
            <span class="text-red-500"><%= er.msg %></span>
          <% } %>
        <% }); %>
      <% } %>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Dosen</span>
      </label>
      <select class="select select-bordered" name="lecturerId">
        <option disabled selected>Dosen Pengampu</option>
        <% lecturers.forEach(lecturer => { %>
          <option value="<%= lecturer.nip %>" <%= lecturer.id === subject.Lecturer.id ? 'selected' : '' %>><%= lecturer.name %></option>
        <% }) %>
      </select>
      <% if (error) { %>
        <% error.forEach(er => { %>
          <% if (er.path === 'lecturerId') { %>
            <span class="text-red-500"><%= er.msg %></span>
          <% } %>
        <% }); %>
      <% } %>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Kapasitas</span>
      </label>
      <input type="number" placeholder="Kapasitas" class="input input-bordered" name="capacity" min="10" value="<%= subject.capacity %>"/>
      <% if (error) { %>
        <% error.forEach(er => { %>
          <% if (er.path === 'capacity') { %>
            <span class="text-red-500"><%= er.msg %></span>
          <% } %>
        <% }); %>
      <% } %>
    </div>
  
    <div class="form-control mt-6">
      <button type="submit" class="btn btn-primary">Simpan</button>
    </div>
  </form>

<%- include('layout/footer') %>
