<%- include('layout/header') %>
<!-- Konten utama di sini -->


    <h1 class="text-2xl font-bold mb-4 mt-6"><%= page %></h1>
 


  <table class="table w-full mt-4">
    <thead>
      <tr>
        <th>Kode Matkul</th>
        <th>Nama</th>
        <th>SKS</th>
        <th>Semester</th>
        <th>Dosen Pengampu</th>
        <th>Mahasiswa</th>
        <th>Kelola</th>
      </tr>
    </thead>
    <tbody>
      <% matkul.forEach(subject => { %>
      <tr>
        <td><%= subject.id %></td>
        <td><%= subject.name %></td>
        <td><%= subject.credit %></td>
        <td><%= subject.semester %></td>
        <td><%= subject.Lecturer.name %></td>
        <td><%= subject.totalMhs  %>/<%= subject.capacity %></td>
        
        <td>
          <a href="/admin/mata-kuliah-aktif/<%= subject.id %>/mahasiswa" class="btn btn-sm btn-primary mr-2">Mahasiswa</a>
          <a href="/admin/mata-kuliah-aktif/jadwal/<%= subject.id %>" class="btn btn-sm btn-warning mr-2">Jadwal</a>
        </td>
        
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('layout/footer') %>
