<%- include('layout/header') %>
<!-- Konten utama di sini -->
<h1 class="text-2xl font-bold mb-4 mt-6"><%= page %></h1>
<% if (success) { %>
  <div class="bg-green-500 text-white p-3 rounded ">
    <p><%= success %></p>
  </div>
<% } %>
<div class="flex  justify-between mb-4 mt-4">
  <a href="/admin/tambah-matkul" class="btn btn-primary ">Tambah Mata Kuliah</a>
</div>

<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
      <tr>
        <th>Kode Matkul</th>
        <th>Nama</th>
        <th>SKS</th>
        <th>Semester</th>
        <th>Dosen Pengampu</th>
        <th>Pendaftar</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% matkul.forEach(subject => { %>
      <tr>
        <td><%= subject.id %></td>
        <td><%= subject.name %></td>
        <td><%= subject.credit %></td>
        <td><%= subject.semester %></td>
        <td><%= subject.Lecturer.name %></td>
        <td>0/<%= subject.capacity %></td>
        <td><%= subject.status %></td>
        <td>
          <div class="flex ">
            <form action="" method="post">
              <button type="submit" class="btn btn-sm btn-primary mr-2">
                Tutup
              </button>
            </form>
            <a
              href="/admin/edit-matkul/<%= subject.id %>"
              class="btn  btn-sm btn-warning mr-2"
              >Edit</a
            >
            <form action="/admin/delete-matkul/<%= subject.id %>" method="post">
              <button type="submit" class="btn btn-sm btn-error">Hapus</button>
            </form>
          </div>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%- include('layout/footer') %>
