<%- include('layout/header') %>
  <h2 class="card-title">Form Tambah Mata Kuliah</h2>
  <% if (maxsks) { %>
    <div class="bg-red-500 text-white p-3 rounded mb-4 mt-4">
      <p><%= maxsks %></p>
    </div>
    <% } %>

  <form method="post" action="/admin/tambah-matkul">
    <div class="form-control">
      <label class="label">
        <span class="label-text">Kode Mata Kuliah</span>
      </label>
      <input type="text" placeholder="Kode Mata Kuliah" class="input input-bordered" name="id" />
      <% if (error) { %>
        <% error.forEach(er=> { %>
          <% if (er.path === 'id') { %>
            <span class="text-red-500"><%= er.msg %></span>
          <% } %>
        <% }); %>
      <% } %>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Nama Mata Kuliah</span>
      </label>
      <input type="text" placeholder="Nama Mata Kuliah" class="input input-bordered" name="name" />
      <% if (error) { %>
        <% error.forEach(er=> { %>
          <% if (er.path === 'name') { %>
            <span class="text-red-500"><%= er.msg %></span>
          <% } %>
        <% }); %>
      <% } %>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">SKS</span>
      </label>
      <input type="number" placeholder="Jumlah SKS" class="input input-bordered" name="credit" min="2" />
      <% if (error) { %>
        <% error.forEach(er=> { %>
          <% if (er.path === 'credit') { %>
            <span class="text-red-500"><%= er.msg %></span>
          <% } %>
        <% }); %>
      <% } %>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Semester</span>
      </label>
      <input type="number" placeholder="Semester" class="input input-bordered" name="semester" min="1" />
      <% if (error) { %>
        <% error.forEach(er=> { %>
          <% if (er.path === 'semester') { %>
            <span class="text-red-500"><%= er.msg %></span>
          <% } %>
        <% }); %>
      <% } %>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Dosen</span>
      </label>
      <select class="select select-bordered" name="lecturerId">
        <option disabled selected>Dosen Pengampu</option>
        <% lecturers.forEach(lecturer => { %>
          <option value="<%= lecturer.nip %>"><%= lecturer.name %></option>
        <% }) %>
      </select>
      <% if (error) { %>
        <% error.forEach(er=> { %>
          <% if (er.path === 'lecturerId') { %>
            <span class="text-red-500"><%= er.msg %></span>
          <% } %>
        <% }); %>
      <% } %>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Kapasitas</span>
      </label>
      <input type="number" placeholder="Kapasitas" class="input input-bordered" name="capacity" min="10"/>
      <% if (error) { %>
        <% error.forEach(er=> { %>
          <% if (er.path === 'capacity') { %>
            <span class="text-red-500"><%= er.msg %></span>
          <% } %>
        <% }); %>
      <% } %>
    </div>
  
    <div class="form-control mt-6">
      <button type="submit" class="btn btn-primary">Tambah</button>
    </div>
  </form>

<%- include('layout/footer') %>