<%- include('layout/header') %>
<h1 class="text-3xl font-bold mb-4">Profil <%= user.Lecturer.name %></h1>
<div class="overflow-x-auto">
  <table class="table table-compact w-full">
    <tbody>
      <tr>
        <th>Nama:</th>
        <td><%= user.Lecturer.name %></td>
      </tr>
      <tr>
        <th>NIP:</th>
        <td><%= user.Lecturer.nip %></td>
      </tr>
      <tr>
        <th>Email:</th>
        <td><%= user.email %></td>
      </tr>
      <tr>
        <th>Tanggal Lahir:</th>
        <td><%= tanggalLahir %></td>
      </tr>
      <tr>
        <th>Telepon:</th>
        <td><%= user.Lecturer.phone %></td>
      </tr>
      <tr>
        <th>Jenis Kelamin:</th>
        <td><%= user.Lecturer.gender %></td>
      </tr>
      <tr>
        <th>Alamat:</th>
        <td><%= user.Lecturer.address %></td>
      </tr>
    </tbody>
  </table>
</div>

<a href="/dosen/profile/ubah-password" class="btn btn-primary mt-4">Ubah Password</a>
</div>
    <%- include('layout/footer') %>
