<%- include('layout/header') %>
<div class="container my-10 px-16 mt-12">
  <h1 class="text-3xl font-bold mb-4 text-center">Mata Kuliah</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <% matkul.forEach(m => { %>
      <div class="card bg-white shadow-lg">
        <div class="card-body">
          <img src="images/fti.jpg"<%= m.name %>" class="w-full h-32 object-cover mb-4">
          <h2 class="card-title text-lg font-semibold mb-2"><%= m.name %></h2>
          <div>
          <p class="text-sm text-gray-600">SKS: <%= m.credit %></p>
          <p class="text-sm text-gray-600">Semester:<%= m.semester %></p>

          <p class="text-sm text-gray-600">Pendaftar: <%= m.dataValues.jumlahPendaftar%>/<%= m.capacity %></p>

        </div>
         
            <div class="flex justify-between mt-4">
            <div>
                <% if(m.status==='inactive') {%>
                <span class="text-primary">Buka</span>
                <% } else{%>
                    <span class="text-error">Tutup</span>
                <% } %>

            </div>
          <div class="card-actions ">
            <a href="/mata-kuliah/daftar/<%= m.id %>" class="btn btn-primary">Detail</a>
          </div>
        </div>
         
        </div>
      </div>
    <% }) %>
  </div>
</div>

<%- include('layout/footer') %>
