<%- include('layout/header') %>
<div class="container my-10 px-16 mt-12">
  <h1 class="text-3xl font-bold mb-4 text-center">Mata Kuliah</h1>
  
  <!-- Search Form -->
  <form method="GET" action="/mata-kuliah/search" class="mb-4 text-center">
    <div class="mb-4 flex">
    <input type="text" name="query" placeholder="Cari Mata Kuliah" class="px-4 py-2 border rounded  w-full" />
    <button type="submit" class="btn btn-primary ml-2">Cari</button>
  </div>
  </form>
 
    <!-- <input type="text" id="searchInput" class="input input-bordered w-full max-w-xs" placeholder="Cari mata kuliah...">
    <button id="searchButton" class="btn btn-primary ml-2">Cari</button> -->


  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4" id="courseList">
    <% matkul.forEach(m => { %>
      <div class="card bg-white shadow-lg" data-course-name="<%= m.name.toLowerCase() %>">
        <div class="card-body">
          <img src="/images/fti.jpg" class="w-full h-32 object-cover mb-4">
          <h2 class="card-title text-lg font-semibold mb-2"><%= m.name %></h2>
          <div>
            <p class="text-sm text-gray-600">SKS: <%= m.credit %></p>
            <p class="text-sm text-gray-600">Semester: <%= m.semester %></p>
            <p class="text-sm text-gray-600">Pendaftar: <%= m.jumlahPendaftar %>/<%= m.capacity %></p>
          </div>
          <div class="flex justify-between mt-4">
            <div>
              <% if(m.status === 'inactive') { %>
                <span class="text-primary">Buka</span>
              <% } else { %>
                <span class="text-error">Tutup</span>
              <% } %>
            </div>
            <div class="card-actions">
              <a href="/mata-kuliah/daftar/<%= m.id %>" class="btn btn-primary">Detail</a>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
<%- include('layout/footer') %>
